@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px) {
  .app-container {
    padding-left: 5%;
    padding-right: 5%;
    background-color: #212121;
    height: 100%;
    margin-top: 54px;
  }
}

.app-wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.searchBar {
  display: flex;
  margin: 10px 0;

}

.search {
  flex: 1;
}